/*Mixins and Essentials*/

$primary-font: "Spartan", sans-serif;
$secondary-font: "Gotu", sans-serif;
$primary-color: #f58706;
$secondary-color: #f58706;
$bluegrey: #ebf0f3;
$primary-color-highlight: rgb(82, 149, 250);
$header-height: 100px;
$dark: #12161d;
$text-dark: #1d2e47;
$text: #58788c;
$text-light: #b0bdca;

@mixin transition($time) {
  -webkit-transition: all$time ease;
  -moz-transition: all$time ease;
  -o-transition: all$time ease;
  transition: all$time ease;
}

@mixin smoothtransition($time) {
  -webkit-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -moz-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -o-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
}

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::selection {
  background: #c4bdb188;
}

/*Body*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 999;
}

@keyframes path {
  0% {
    stroke-dasharray: 0, 251;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 125, 125;
    stroke-dashoffset: -60;
  }
  100% {
    stroke-dasharray: 0, 255;
    stroke-dashoffset: -250;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.filler {
  stroke-dasharray: 0, 0;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: $secondary-color;
  animation: path 1s ease infinite;
}

.trans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate 4s ease infinite;
}

body {
  margin: 0px;
  font-family: $primary-font;
  background-color: #fff;
  color: $text-dark;
  font-size: 100%;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

header.force-white {
  background: #fff !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: transparent;
  // pointer-events: none;
  z-index: 1000;
  @include transition(0.5s);

  .content-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    height: 80%;
    @include transition(0.4s);

    img {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
      height: 50%;
      @include transition(0.4s);
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: all;

    .link {
      position: relative;
      padding: 5px 0px;
      cursor: pointer;
      @include transition(0.2s);

      .title {
        position: relative;
        font-weight: 700;
        color: $text-dark;
        font-size: 0.8rem;
        padding: 3px 2px;
        margin: 0px 10px;
        padding-bottom: 4px;
        text-decoration: none;
        z-index: 1000;

        .fas {
          margin-left: 2px;
          transform: scale(0.9);
        }
      }

      .title:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        width: 0%;
        background: $text-dark;
        z-index: -1;
        transform: translate(-50%, -50%);
        @include smoothtransition(0.2s);
      }

      .menu {
        position: absolute;
        top: 100%;
        left: -2px;
        width: 150px;
        background: $bluegrey;
        padding: 4px 0px;
        border-radius: 2px;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
        @include transition(0.2s);

        .menu-item {
          color: rgba(0, 0, 0, 0.75);
          font-size: 0.7rem;
          font-weight: 600;
          padding: 10px;
          padding-bottom: 4px;
          @include transition(0.2s);
        }

        .menu-item:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .link:hover > .title,
    .link.current > .title,
    .link:hover > a .title,
    .link.current > a .title {
      color: $primary-color;
    }

    .link:hover > .menu {
      opacity: 1;
      pointer-events: all;
    }

    .link:hover > .title:before,
    .link.current .title:before,
    .link:hover > a .title:before,
    .link.current a .title:before {
      width: 100%;
      background-color: $primary-color;
    }
  }

  .hamburger {
    display: none;
    position: relative;
    width: 25px;
    height: $header-height;
    z-index: 1002;
    cursor: pointer;
    pointer-events: all;

    .line-1 {
      position: absolute;
      top: calc(50% - 5px);
      left: 50%;
      width: 100%;
      height: 2px;
      transform: translate(-50%, 0);
      background: $text-dark;
      @include smoothtransition(0.25s);
    }

    .line-2 {
      position: absolute;
      top: calc(50% + 5px);
      left: 50%;
      width: 100%;
      height: 2px;
      transform: translate(-50%, 0);
      background: $text-dark;
      @include smoothtransition(0.25s);
    }
  }

  .hamburger.close {
    .line-1 {
      transform: translate(-50%, 5px) rotate(45deg);
    }

    .line-2 {
      transform: translate(-50%, -5px) rotate(-45deg);
    }
  }

  .fill {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
    @include smoothtransition(0.4s);
  }
}

header.min {
  height: 70px;
  background: #1d233a !important;
  box-shadow: 0 0 0 0.2rem rgba(23, 37, 58, 0.1) !important;

  .logo {
    height: 100%;
  }
}

.margins {
  margin: 20px 0px;
}

.margins-xl {
  margin: 50px 0px;
}

nav {
  position: fixed;
  // height: 100%;
  // width: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  display: none;
  opacity: 0;
  z-index: 999;
  pointer-events: all;
  @include smoothtransition(0.4s);

  .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $text-dark;

    .link {
      margin: 10px 0px;
      text-align: center;
      font-family: $primary-font;

      .title {
        position: relative;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 5px 0px;
        letter-spacing: 2px;
      }

      .title:before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 1px;
        left: 50%;
        transform: translate(-50%, 0);
        background: $bluegrey;
      }

      .menu-item {
        font-family: $secondary-font;
        font-weight: 400;
        margin: 15px 0px;
        letter-spacing: 2px;
        font-size: 1.1rem;
      }
    }

    .link.current .title {
      color: $primary-color;
    }
  }
}

.content-lg {
  width: 90%;
  margin: 0 auto;
}

.content-md {
  width: 75%;
  margin: 0 auto;
}

.content {
  width: 50%;
  margin: auto;
}

section {
  padding: 100px 0px;
  width: 100%;
  background: #fff;
}

section.light-grey {
  background: #f5f9fc;
}

section.home-bg {
  background: url("../img/Back.png");
  background-size: cover;
  background-position: center bottom;
}

section.intro {
  padding-top: 18% !important;
  padding-bottom: calc(100px + 0px) !important;
}

section.add-space-bottom {
  padding-bottom: 16% !important;
}

section.fix-space-bottom {
  padding-bottom: 50px;
}

section.fix-space-top {
  padding-top: 50px;
}

section.min-padding {
  padding: 60px 0px;
}

section.color {
  background-color: $primary-color !important;
}

section.green {
  background-color: #3a9c78 !important;

  p {
    color: rgba(255, 255, 255, 0.7) !important;
  }
}

section.dark {
  background-color: $dark;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  p {
    color: $text-light;
  }
}

.height350{
  height: 350px;
}

section.dark-color {
  background-color: #1d233a;
}

section.full-height {
  height: 100vh;
  padding: 0px;
}

section.no-padding {
  padding: 0;
}

.tablet-section {
  display: none;
}

.mobile-section {
  display: none;
}

.center {
  text-align: center;
}

hr {
  width: 50px;
  border: 2px solid $secondary-color;
  margin: 10px 0px;
}

hr.bottom-margin {
  margin-bottom: 50px;
}

h1 {
  font-size: 3.25rem;
  letter-spacing: -1px;
  margin: 0px;
}

h2 {
  font-size: 3rem;
  letter-spacing: -1px;
  margin: 0px;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  margin: 0px;
}

h4 {
  font-size: 2rem;
  margin: 0px;
}

h5 {
  font-size: 1.6rem;
  margin: 0px;
}

h6 {
  font-size: 1.2rem;
  margin: 0px;
}

.highlight {
  color: $secondary-color !important;
}

.highlight-primary {
  color: $primary-color !important;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  position: relative;
  background: $primary-color;
  padding: 14px 24px;
  margin: 10px !important; 
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 4px !important;
  z-index: 10;
  font-family: $primary-font;
  font-size: 0.9rem;
  overflow: hidden;
  @include smoothtransition(0.25s);

  .fas {
    margin-left: 5px;
    @include smoothtransition(0.25s);
  }
}

button.margin-fix {
  margin-left: 0px;
}

button.secondary {
  background: $bluegrey;
  color: $text-dark;
}

button.color {
  background: $secondary-color;
}

button:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.25;
  @include smoothtransition(0.4s);
}

button:hover:after {
  top: 0;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(216, 216, 216, 0.2) !important;
  transition: 0.3s;
  background: #f5f9fc !important;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 
0 8px 16px 0 rgba(255, 253, 253, 0.2);
}

p {
  font-family: $secondary-font;
  color: $text;
  line-height: 1.75rem;
  font-size: 1rem;

  a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    @include transition(0.2s);
  }

  a:hover {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.career p.sm {
  font-size: 0.75rem !important;
  margin: 10px 0px;
  font-family: $primary-font;
}

.career {
  p {
    margin: 5px 0px !important;

    b {
      color: $text-dark;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.75em;
    }
  }
}

.split-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  .split {
    height: 100%;
    width: 100%;

    .content {
      padding: 100px 0px;
    }
  }
}

.split-wrapper.s-40-60 {
  grid-template-columns: 40% 60%;
}

.vision-image,
.journey-image {
  background: $bluegrey;
  height: 100%;
  width: 100%;
}

.vision-image {
  background: url("../img/Smart\ City.jpg");
  background-size: cover;
}

.vision-split .split {
  background-color: $bluegrey;
}

footer {
  padding: 50px 0px;
  padding-bottom: 15px;
  background: $dark;

  p.sm {
    color: $text-light;
    font-size: 10px;
    width: 100%;
    font-weight: 400;
    text-align: center;

    a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    a:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  .footer-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .socials {
    display: none;
  }

  .logo {
    height: 50px;

    img {
      height: 100%;
    }
  }

  .quick-links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 40px;

    .col {
      width: 150px;
      margin: 10px;

      .title {
        font-size: 0.8rem;
        font-weight: 700;
        font-family: $primary-font;
        color: #fff;
        margin-bottom: 10px;
      }
      a {
        font-family: $primary-font;
        margin: 10px 0px;
        font-weight: 400;
        font-size: 0.75rem;
        display: block;
        color: $text-light !important;
        cursor: pointer;
        @include transition(0.25s);
      }
      a:hover {
        color: #fff !important;
      }
    }
  }
}

.info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .info-tile {
    width: 250px;
    padding: 10px;
    margin: 10px;

    .infographic {
      font-size: 3.25rem;
      color: $secondary-color;
      text-align: center;
      margin: 15px 0px;
      height: 60px;
    }

    .infographic.primary {
      color: $primary-color;
    }

    .title {
      font-size: 1.3rem;
      font-family: $primary-font;
      font-weight: 700 !important;
      text-align: center;
      margin: 5px 0px;
      b {
        font-size: 1.5rem;
        color: $secondary-color;
      }
    }

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}

section.grey {
  background: $bluegrey;
}

section.dark {
  .info-wrapper .info-tile .title {
    color: #fff;
  }
}

/* PRODUCTS */
.intro.products {
  padding-top: 100px !important;
  padding-bottom: 50px !important;
}

.product-text {
  position: relative;

  .content-lg {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: 80%;
  }
}

.traffic-lights {
  height: auto;
  position: relative;
  overflow: hidden;
  min-height: 42.5vw;

  img {
    position: absolute;
    max-width: 100%;
    max-height: calc(100vh - 100px);
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

img.full-width {
  width: 100%;
}

.features-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 0px;

  .circle-image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: $bluegrey;
    margin: 25px;

    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .feature {
    width: calc(100% - 280px);
    margin: 15px;
  }
}

.features-wrapper:nth-child(odd) {
  flex-direction: row-reverse;
}

/*CAREERS*/
input.search-box {
  width: calc(100% - 30px);
  padding: 15px;
  margin: 5px 0px;
  border: 1px solid $bluegrey;
  border-radius: 4px;
  font-family: $secondary-font;
  outline: none;
  color: $text;
  -webkit-appearance: none;
}

input.search-box:focus {
  border: 1px solid $primary-color;
}

.careers-wrapper {
  .career {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid $bluegrey;

    p {
      font-size: 0.9rem;
      line-height: 1.75;
      padding: 0;
      margin: 2px 0px;
    }

    button {
      font-size: 0.8rem;
    }
  }

  .career:last-of-type {
    border: none;
  }
}

/*TEAM*/
.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0px;

  .team-member {
    width: calc(240px - 40px);
    height: calc(260px - 40px);
    padding: 20px;
    padding-bottom: 40px;
    border: 1px solid $bluegrey;
    border-radius: 4px;
    margin: 20px;
    height: 12rem;
    cursor: pointer;

    .photo {
      position: relative;
      width: 100px;
      height: 100px;
      background: $bluegrey;
      border-radius: 100%;
      margin: 20px auto;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    }

    p {
      text-align: center;
      padding: 0;
      margin: 0;
    }

    p.lg {
      font-size: 1rem;
      font-weight: 700;
      font-family: $primary-font;
      color: $text-dark;
    }
  }
}

/*CONTACT*/

.contact-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 50px;

  .details {
    width: 50%;
    padding: 30px 0px;

    h6 {
      padding-bottom: 5px;
    }
  }
}

p span {
  display: block;
}

p.social-links {
  a {
    border: none;
    padding: 5px;
    margin: 10px;
    font-size: 1.5rem;
    color: $text-dark !important;
    @include transition(0.25s);
  }

  a:hover {
    color: $primary-color !important;
  }
}

.googleform {
  width: 100%;
  min-height: 1500px;
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 100000;
}

.team-pop-up {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: calc(80vw - 20px);
  height: calc(80vh - 20px);
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  overflow: auto;
  z-index: 1000001;
  opacity: 1;
  @include transition(0.2s);

  .close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.4rem;
    color: $text-light;
    cursor: pointer;
    @include transition(0.25s);
  }

  .close-button:hover {
    color: $text;
  }

  .content-lg {
    margin-top: 30px;
  }

  .data-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .photo {
      position: relative;
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 100%;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
      }
    }

    .data {
      width: calc(100% - 160px);
      padding: 20px;

      p {
        line-height: 1.25;

        b {
          font-size: 1.2rem;
        }

        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.black-screen.close {
  display: none;
}

.team-pop-up.close {
  opacity: 0;
  transform: scale(0);
}

@media only screen and (max-width: 1000px) {
  .content {
    width: 70%;
  }

  .content-md {
    width: 90%;
  }

  button {
    font-size: 0.7rem;
  }

  .tablet-section {
    display: block;
  }

  section {
    padding: 70px 0px;
  }

  section.intro {
    padding-top: 18% !important;
  }

  section.add-space-bottom {
    padding-bottom: 16% !important;
  }

  section.fix-space-bottom {
    padding-bottom: 35px;
  }

  section.fix-space-top {
    padding-top: 35px;
  }

  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
  }

  h3 {
    font-size: 2.25rem !important;
  }

  h4 {
    font-size: 2rem !important;
  }

  h5 {
    font-size: 1.4rem !important;
  }

  h6 {
    font-size: 1.1rem !important;
  }

  .vision-image,
  .journey-image {
    min-height: 300px;
  }

  .split-wrapper .split .content {
    padding: 75px 0px;
  }

  .split-wrapper,
  .split-wrapper.s-40-60 {
    display: block;

    .split {
      width: 100% !important;
      padding: 0px !important;
    }
  }

  .journey-split,
  .vision-split {
    display: flex;
    flex-wrap: wrap;
  }

  .vision-split {
    flex-wrap: wrap-reverse;
  }

  footer {
    .footer-wrapper {
      width: 100%;
      display: block;
    }

    .logo {
      display: none;
    }

    .quick-links {
      justify-content: center;
    }
  }

  .intro.products {
    padding-top: 170px !important;
    padding-bottom: 70px !important;
  }

  .product-text {
    .content-lg {
      position: relative;
      top: 0%;
      transform: translate(0, 0%);
      width: 90%;
    }
  }

  .traffic-lights {
    display: none;
  }

  .features-wrapper {
    .circle-image {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background: $bluegrey;
      margin: 25px;
    }

    .feature {
      width: calc(100% - 230px);
      margin: 15px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .content {
    width: 85%;
  }

  button {
    margin: 5px !important;
  }

  header {
    .links {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }

  section {
    padding: 50px 0px;
  }

  section.intro {
    padding-top: 18% !important;
  }

  section.add-space-bottom {
    padding-bottom: 16% !important;
  }

  section.fix-space-bottom {
    padding-bottom: 25px;
  }

  section.fix-space-top {
    padding-top: 25px;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2.2rem !important;
  }

  h3 {
    font-size: 2rem !important;
  }

  h4 {
    font-size: 1.75rem !important;
  }

  h5 {
    font-size: 1.25rem !important;
  }

  h6 {
    font-size: 1rem !important;
  }

  .mobile-section {
    display: block;
  }

  .split-wrapper .split .content {
    padding: 50px 0px;
  }

  footer {
    padding-top: 30px;

    .footer-wrapper {
      display: block;
    }
    .quick-links {
      display: none;
    }

    .socials {
      width: 100%;
      display: flex;
      justify-content: center;
      color: #fff;

      a {
        font-size: 1.2rem;
        margin: 20px;
      }
    }

    p.sm {
      margin-top: 20px;
      font-size: 10px !important;
      width: 100%;
      line-height: 1.25;
      font-weight: 400;
      text-align: center;
    }
  }

  .features-wrapper {
    display: block;

    .circle-image {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background: $bluegrey;
      margin: 25px auto;
    }

    .feature {
      width: 100%;
      margin: 15px 0px;
      text-align: center;

      p {
        text-align: justify;
      }
    }
  }

  .contact-wrapper {
    padding-top: 30px;

    .details {
      width: 100%;
      padding: 15px 0px;
    }
  }

  .googleform {
    width: 100%;
    min-height: 1600px;
  }

  .team-pop-up {
    .data-wrapper {
      justify-content: center;
      .photo {
      }

      .data {
        width: calc(100%);
        padding: 0;
        margin: 20px 0px;

        h5 {
          text-align: center;
        }

        p {
          line-height: 1;
          text-align: center;
        }
      }
    }
  }
}
